.card-responsive{
    width: 120px;
    height: 265px;
    
    img{
        width: 80px;
        height: 165px;
    }
    // .card-body-responsive{
    //     .wishlist-button{
    //         width: 20px;
    //     }
    // }
    
    
}